.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  /* reset */
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  height: 100dvh;
  width: 100vw;

  background-color: dimgray;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}
/* default components styling */

button {
  background-color: #2196f3;
  cursor: pointer;
}

button:not([disabled]):active {
  background-color: #0e7cd6;
}

/* Disable blue highlight on button click */
button {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button:disabled {
  background-color: #999999;
  border-color: #404040;
  color: #404040;
}

/* helpers */
.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

[hidden] {
  display: none !important;
}

/* ------ */
.cell-grid {
  display: grid;
  grid-template-columns: repeat(pow(var(--cellCount), 0.5), 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;

  width: 100vmin;
  height: 100vmin;

  border: 0.5vmin solid black;
  background-color: white;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 10vmin;

  border: 0.5vmin solid black;

  cursor: pointer;

  content: attr(data-number);
}
.cell:after {
  content: attr(data-number);
}

.cell.checked {
  color: gray;
  background-color: gainsboro;
}

.timer {
  color: white;
}

.controls {
  font-size: 20vmin;
  line-height: 1.5em;
}

.controls > button {
  font-size: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

.blurred {
  filter: blur(1vmin);
  opacity: 0.5;
}

.overlay {
  position: fixed;

  top: 0;
  left: 0;

  bottom: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.popup {
  display: flex;
  flex-direction: column;
}

.popup,
button {
  margin: 3vmin;
  padding: 6vmin;

  font-size: 10vmin;

  border-radius: 2vmin;
  border: 1vmin solid black;

  box-shadow: 2vmin 2vmin #0000002e;
}

button.btn-small {
  font-size: 6vmin;
  padding: 2vmin;
  box-shadow: 1vmin 1vmin #0000002e;
}

button:disabled > .label-enabled {
  display: none;
}
button:not([disabled]) > .label-disabled {
  display: none;
}

div.popup {
  background-color: white;
}

.popup > p {
  font-size: 10vmin;
  padding: 0;
  margin: 0;
  text-align: center;

  margin-bottom: 1vmin;
  border-bottom: 1vmin solid #c9c9c9;
  padding-bottom: 1vmin;
}

.hiScores-avatar {
  font-size: 20vmin;
  padding-right: 5vmin;
}

.leaderboards {
  font-size: 9vmin;
  border-collapse: collapse;
}

.leaderboards-popup {
  overflow: hidden;
}

td {
  padding-right: 1vmin;
  text-align: right;
}

td.lb-date {
  font-size: 4vmin;
}

.score-value {
  font-size: 10vmin;
}

.table-container {
  overflow: scroll;
}

thead {
  position: sticky;
  top: 0;
  background: #ffffffe8;
  z-index: 1;
}

.current {
  background-color: gold;
}
/* ------------- */

.settings {
  font-size: 7vmin;
}

.settings-avatar {
  font-size: 14vmin;
}

/* ------------- */

.difficulty-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;

  /* font-size: 15vmin; */
  font-size: 10vmin;
}

/* ------------- */
.splash {
  color: white;
}

.splash-title-1 {
  font-size: 9vmin;
}

.splash-title-2 {
  text-transform: capitalize;
  font-size: 19vmin;
  line-height: 15vmin;
}

.splash-loading {
  font-size: 20vmin;
  font-size: 9vmin;
  padding: 9vmin;
  animation: pulse 1s ease-in-out infinite alternate;
}

@keyframes pulse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}

.loader {
  width: 40vmin;
  height: 40vmin;
}
